////////////////////////
// Typography
//
// Headings, body text, lists, code, and more for a versatile and durable
// typography system.
////////////////////////

body {
  color: $black;
  font-family: $font-body;
  font-size: $base-font-size;
  line-height: 1.8;
}

// Headings
// scss-lint:disable SingleLinePerSelector
h1, h2, h3, h4, h5, h6 {
  font-family: $font-head;
}

// scss-lint:enable SingleLinePerSelector

h1 {

}

h2 {
  font-size: 2.3em;
  line-height: 1.2;
}

h3 {
  font-size: 1.5em;
}

h4 {

}

h5 {

}

h6 {

}


// Links
//
// The order of link states are based on Eric Meyer's article:
// http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states
a {

  &:link {
    color: $link;
  }

  &:visited {
    color: $visited;
  }

  &:hover,
  &:focus {

  }

  &:active,
  &.active {

  }
}


// Lists

ul,
ol {

}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

ul {

}

ol {

}

li {

}

// Misc.

hr {
  height: 1px;
  margin: 1em 0;
  padding-bottom: -1px;
  border: 1px solid $black;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

// Remove text-shadow in selection highlight: h5bp.com/i
// These selection declarations have to be separate
::selection {
  color: $selection;
  background: $selection-bg;
  text-shadow: none;
}
