
<div id="m-map" style=""></div>


<script>
  function initMap() {
    var geocoder = new google.maps.Geocoder();
    var ndAddress = "The North Door, 501 Brushy St, Austin, TX 78702"

    geocoder.geocode( { 'address': ndAddress}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        var ndLatLong = results[0].geometry.location


        var map = new google.maps.Map(document.getElementById('m-map'), {
          zoom: 14,
          center: ndLatLong
        });

        var marker = new google.maps.Marker({
          position: ndLatLong,
          map: map,
          title: 'The North Door',
          icon: "http://maps.google.com/mapfiles/ms/icons/purple-dot.png"
        });
      }
    });

  }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key={{site.google_maps_api}}&signed_in=true&callback=initMap"></script>
