// a single entry block on the HP

$m: '.m-block';

$num-blocks: 36;

// TODO:
// Convert single long gradients into chopped-up bits
// apply each bit to each %3 == 1 and %3 == 2 (i.e. 1st and 2nd in row) item
// + use offset :before elements to weave the horizontal gray lines

.m-block {
  width: 30%;
  position: relative;
  $ordlist: ();
  @for $i from 1 through $num-blocks {
    $ordlist: append($ordlist, $i);
  }
  $ordlist: shuffle($ordlist);
  @for $i from 1 through $num-blocks {
    &:nth-child(#{$i}) {
      $ord: nth($ordlist, $i);
      order: $ord;
      @media (min-width: $media-smallish) {
        @if (($ord % 3) == 1) {
          &:after {
            content: '';
            display: block;
            position: absolute;
            right: -10px;
            top: 0;
            width: 3px;
            height: 100%;
            background: linear-gradient(to bottom, blue, red);
          }
        }
        @if (($ord % 3) == 2) {
          &:after {
            content: '';
            display: block;
            position: absolute;
            right: -10px;
            top: 0;
            width: 3px;
            height: 100%;
            background: linear-gradient(to bottom, pink, blue);
          }
        }
      }
    }
  }

  @media (max-width: $media-smallish) {
    width: 80%;
  }

  &__link {
    font-family: $font-body;
    text-transform: initial;
    text-decoration: none;
  }
}
