// a single entry's inner view
// e.g. the details about one restaurant

.m-single {
  &__header {
    a {
      text-decoration: none;
    }

    > * {
      display: inline-block;
    }
  }

  p {
    font-family: $font-body;
  }

  &__metadata {
    ul {
      list-style-type: none;
      padding-left: 0;
    }

    li {
      padding-bottom: 1em;
      margin-right: 20px;
      display: inline-block;
    }

    svg {
      width: 50px;
      height: 50px;
      vertical-align: middle;
    }
  }

  &__cost {
    svg {
      width: 30px;
      height: 30px;
    }
  }

  &__map {
    iframe {
      width: 100%;
    }
  }
}
